.main-container {
    position: relative;
    width: auto;
    height: 100%;
    overflow: hidden;
}

.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: 1;
}

.main-container > * {
    position: relative;
    z-index: 2;
}

.event-text-style{
    font-size: 20px;
    font-weight: bold;
    color: white;

}